@charset "utf-8";

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 10px; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */




/* cardSection */
.cardSection{ display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden; }
.cardSection .slideBtnWrap{ position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between; }
.cardSection .slideBtnWrap .pnBtn{ padding: 100px 40px; background-color: transparent; border: none; position: relative; z-index: 3; }
.cardSection .slideWrap{ width: 100%; }
.cardSection .slideWrap .item{ padding: 100px 0; display: flex; align-items: center; justify-content: center; min-height: 100vh; background: skyblue; }
.cardSection .slideWrap .item.bg2{ background: darkcyan; }
.cardSection .slideWrap .item .bgTextBox{ white-space: nowrap; color: #fff; font-size: 10vw; font-weight: 500; position: absolute; width: 100%;}

.cardSection .slideWrap .item .card{ position: relative; width: 400px; height: 600px; z-index: 2; }
.cardSection .slideWrap .item .card .card-front{ 
    position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; 
    transition: transform .25s, opacity .25s; transform: rotate(-10deg); filter: drop-shadow(0 0 7px #0000004d); border-radius: 30px;
}
.cardSection .slideWrap .item .card .card-back{ 
    border-radius: 30px; overflow: hidden; filter: drop-shadow(0 0 7px #0000004d); transition: transform .5s; 
    transform: rotate(-10deg) scaleX(0); opacity: 0; transition: transform .5s, opacity .25s;
    position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center;  
}
.cardSection .slideWrap .item .card .card-back .contentWrap{ text-align: center; width: 100%; height: 100%;  display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column; background-color: rgba(0,0,0,0.6); color: #fff;  }
.cardSection .slideWrap .item .card .card-back .contentWrap .title{ font-size: 30px; font-weight: 600; }
.cardSection .slideWrap .item .card .card-back .contentWrap .content{ font-size: 20px; margin-top: 10px; line-height: 2em; }
.cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn{  position: absolute; display: flex; align-items: center; justify-content: center; bottom: 50px;  }
.cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn .btnWrap{ overflow: hidden; position: relative; padding: 10px 40px; border: 1px solid #fff; border-radius: 20px; font-weight: 600; }
.cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn .btnWrap .hoverBg{ position: absolute; left: 0; top: 0; background-color: #fff; width: 0; height: 100%; transition: width .5s; }
.cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn .text{ position: relative; z-index: 1; }
.cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn:hover .text{ color: #222; }
.cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn:hover .btnWrap .hoverBg{ width: 100%; }

@media screen and (min-width: 650px) { 
    .cardSection .slideWrap .item .card:hover .card-front{ transition: transform 5s, opacity .25s;  opacity: 0; transform: scaleX(-1) rotate(0); transition: transform .5s;}
    .cardSection .slideWrap .item .card:hover .card-back{ opacity: 1; transform: rotate(0) scaleX(1); }
}

@media screen and (max-width: 1250px) { 
    .cardSection .slideWrap .item .card{ width: 300px; height: 450px; }
    .cardSection .slideWrap .item .card .card-front{ border-radius: 20px; } 
    .cardSection .slideWrap .item .card .card-back{ border-radius: 20px; } 

    .cardSection .slideWrap .item .card .card-back .contentWrap .title{ font-size: 20px; }
    .cardSection .slideWrap .item .card .card-back .contentWrap .content{ font-size: 16px; }
    .cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn .btnWrap{ font-size: 14px; padding: 5px 20px;}

}
@media screen and (max-width: 650px) { 
    .cardSection .slideWrap .item .bgTextBox{ font-size: 15vw; }

    .cardSection .slideWrap .item .card{ width: 50vw; height: 70vw; }
    .cardSection .slideWrap .item .card .card-front{ border-radius: 3vw; transform: rotate(0); }
    .cardSection .slideWrap .item .card .card-back{ border-radius: 3vw; transform: rotate(0) translateX(0); }
    .cardSection .slideWrap .item .card.show .card-front{ transition: transform .5s, opacity .25s;  opacity: 0; transform: scaleX(-1) rotate(0); transition: transform .5s;}
    .cardSection .slideWrap .item .card .card-back{ transform: rotate(0) scaleX(0); transition: transform .5s, opacity .25s; }
    .cardSection .slideWrap .item .card.show .card-back{opacity: 1; transform: rotate(0) scaleX(1); }
    .cardSection .slideWrap .item .card .card-back .contentWrap{ padding: 3vw; }
    .cardSection .slideWrap .item .card .card-back .contentWrap .title { font-size: 4.5vw; }
    .cardSection .slideWrap .item .card .card-back .contentWrap .content{ margin-top: 2vw; font-size: 3vw; line-height: 1.5em; }
    .cardSection .slideWrap .item .card .card-back .contentWrap .viewBtn .btnWrap{ font-size: 3vw; padding: 1vw 5vw; } 

    .cardSection .slideBtnWrap .pnBtn{ padding: 8vw; margin-top: 30vh; }
}


/* paralSlideSection */
.paralSlideSection{ min-height: 100vh; display: flex; align-items: center; justify-content: center; background-color: #F8F3EC; position: relative; overflow: hidden; padding: 100px 0; }
.paralSlideSection .inner{ max-width: 100%; }
.paralSlideSection .hiddenWrap{ max-width: 200px; max-height: 200px; overflow: hidden; width: 20vw; height: 20vw; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.paralSlideSection .titleBox { position: relative; z-index: 2; display: flex; align-items: flex-end; justify-content: space-between; }
.paralSlideSection .titleBox .title{ font-size: 52px; font-weight: 700; }
.paralSlideSection .titleBox .moreBtn{ font-weight: 400; font-size: 22px; color: #7f7f7f; }
.paralSlideSection .slideBox{ width: 100%; position: relative; display: flex; justify-content: center; align-items: center; margin-top: 15px; }
.paralSlideSection .slideBox .pnBtnWrap{ display: flex; align-items: center; justify-content: space-between; height: 100%; width: calc(1200px + 122px); position: absolute; }
.paralSlideSection .slideBox .pnBtnWrap .pnBtn{ position: relative; z-index: 2; background: transparent; border: none; }
.paralSlideSection .slideBox .slideWrap{ z-index: 2;  width: 100vw; max-width: 1200px; position: relative; }
.paralSlideSection .slideBox .item .imgBox{ overflow: hidden; position: relative; display: flex; align-items: center; justify-content: center; height: 50vw; max-height: 490px; border-radius: 10px; background-color: #d9d9d9;  }
.paralSlideSection .slideBox .item .imgBox .realImg{ transition: transform .8s; width: 100%; height: 100%; position: absolute; background-size: cover; background-repeat: no-repeat; background-position: center; }
.paralSlideSection .slideBox .swiper-slide-active .item .imgBox{ position: relative; z-index: 1; box-shadow: 12px 13px 17px 0px rgba(0, 0, 0, 0.27); }
.paralSlideSection .slideBox .item:hover .imgBox .realImg{ transform: scale(1.1); }
.paralSlideSection .slideBox .item .slideTitle{ align-items: flex-end; display: flex; justify-content: space-between; gap: 10px; }
.paralSlideSection .slideBox .item .slideTitle .title{ margin-top: 25px; font-size: 22px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;  }
.paralSlideSection .slideBox .item .slideTitle .count{ flex-shrink: 0; }
.paralSlideSection .slideBox .item .slideTitle .gray{ color: #7f7f7f; }
.paralSlideSection .bar{ margin-top: 50px; height: 6px; background-color: #222; }

@media screen and (max-width: 1350px) { 
    .paralSlideSection .inner{ width: 80vw; }
    .paralSlideSection .slideBox{ margin-top: 1vw; }
    .paralSlideSection .slideBox .slideWrap{ width:80vw;  }
    .paralSlideSection .slideBox .pnBtnWrap{ width: calc(100% - 60px); }
    .paralSlideSection .slideBox{ width: auto; }

}
@media screen and (max-width: 1250px) { 
    .paralSlideSection .titleBox .title{ font-size: 40px; }
    .paralSlideSection .titleBox .moreBtn{ font-size: 16px; }
    .paralSlideSection .slideBox{ margin-top: 4vw; }
    .paralSlideSection .slideBox .item .slideTitle .count{ font-size: 14px; }
}
@media screen and (max-width: 900px) { 
    .paralSlideSection .inner{ width: 100%; } 
    .paralSlideSection .titleBox .title{ font-size: 25px; }
    .paralSlideSection .slideBox{ width: auto; }
    .paralSlideSection .slideBox .pnBtnWrap{ display: none; }
    .paralSlideSection .slideBox .item .imgBox{ height: 53vw; max-height: unset; }
    .paralSlideSection .slideBox .item .slideTitle .title{ margin-top: 10px; font-size: 18px;}
    .paralSlideSection .slideBox .item .slideTitle .count{ font-size: 13px; }

    .paralSlideSection .hiddenWrap{ min-width: 150px; min-height: 150px; }
    .paralSlideSection .slideBox{ margin-top: 40px; }
}
@media screen and (max-width: 650px) { 
    .paralSlideSection .titleBox .title{ font-size: 18px; }
    .paralSlideSection .slideBox .item .imgBox{ height: 70vw; max-height: 539px; }
    .paralSlideSection .slideBox .item .slideTitle .title{ font-size: 4vw; }
    .paralSlideSection .slideBox .item .slideTitle .count{ display: none; }
}

/* howRedBricksSection */
.howRedBricksSection{ position: relative; overflow:hidden; padding: 100px 0; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.howRedBricksSection .textList{ position: absolute; display: flex; flex-direction: column; gap: 20vh; }
.howRedBricksSection .textBox{ font-weight: 700; background-color: #7f7f7f; color: #fff; font-size: 10vw; white-space: nowrap; padding: 0 5vw; border-radius: 20vw; }
.howRedBricksSection .textBox.redBg{ background-color: #CF3140; }
.howRedBricksSection .textBox.mintBg{ background-color: #5CC2CE; }
.howRedBricksSection .textBox .circle{ border-radius: 50%; width: 20vw; height: 20vw; background-color: #fff; }

